.footer
  position: fixed
  bottom: 0
  left: 0
  width: 100%
  user-select: none

  &-author
    text-align: center
    font-size: $text-xs

    &__link 
      color: $dark

      &:hover,
      &:active,
      &:focus
        color: $dark
        text-decoration: none