li 
  list-style-type: none

a,
a:hover
  text-decoration: none
  color: $dark

.wrapper 
  display: flex
  align-items: stretch
  width: 100%
  perspective: 1500px

textarea 
  resize: none
  
.modal-backdrop 
  z-index: 15 !important

.bk-hidden 
  display: none

.bk-text 
  font-size: $text-base-size
  &--small 
    font-size: $text-sm
  &--info
    font-size: 12.5px
    letter-spacing: .5px
  &--about 
    font-size: $text-md
    line-height: 20px
  
.bk-line-height 
  line-height: $text-sm

.bl-none
  border-left: none !important

.bk-title 
  position: relative
  user-select: none

  &:before
   content: attr(data-desc)
   position: absolute
   bottom: -15px
   left: 0
   width: 100%
   font-size: $text-base-size
   color: $secondary
  
.bk-disabled 
  position: relative
  overflow: hidden
  &::after
    content: ''
    position: absolute
    top: 0
    left: -15px
    width: 100%
    height: 100%
    background: rgba(96, 125, 139, 0.1)

.bk-checkbox
  cursor: pointer
  width: 16px
  height: 16px

.bk-perm,
.bk-plot
  position: relative
  height: 20px
  overflow: hidden

  &-active 
    height: auto